3420/tempProject/index.php
3420/tempProject/Project_add_wishlist.php
3420/tempProject/Project_additem.php
3420/tempProject/Project_createAccount.php
3420/tempProject/Project_forgot_password.php
3420/tempProject/Project_login.php
3420/tempProject/Project_viewitem.php
3420/tempProject/includes/footer.php
3420/tempProject/includes/header.php
3420/tempProject/includes/library.php
3420/tempProject/includes/nav.php
3420/tempProject/styles/project_master.css
3420/tempProject/styles/project_master.css.old
3420/tempProject/styles/project_reset.css
3420/projectOld/GregProject.zip
3420/projectOld/index.php
3420/projectOld/Project_add_wishlist.php
3420/projectOld/Project_additem.php
3420/projectOld/Project_createAccount.php
3420/projectOld/Project_forgot_password.php
3420/projectOld/Project_login.php
3420/projectOld/Project_viewitem.php
3420/projectOld/includes/footer.php
3420/projectOld/includes/header.php
3420/projectOld/includes/library.php
3420/projectOld/includes/nav.php
3420/projectOld/styles/project_master.css
3420/projectOld/styles/project_reset.css
3420/labs/lab1/anotherpage.html
3420/labs/lab1/index.html
3420/labs/lab1/css/style.css
3420/labs/lab1/img/desktop.png
3420/labs/lab2/index.html
3420/labs/lab2/img/oscars2022.jpeg
3420/labs/lab3/index.html
3420/labs/lab3/img/oscars2022.jpeg
3420/labs/lab3/styles/master.css
3420/labs/lab3/styles/reset.css
3420/labs/lab4/index.html
3420/labs/lab4/img/oscars2022.jpeg
3420/labs/lab4/styles/master.css
3420/labs/lab4/styles/reset.css
3420/labs/lab5/index.php
3420/labs/lab5/thanks.php
3420/labs/lab5/img/oscars2022.jpeg
3420/labs/lab5/includes/footer.php
3420/labs/lab5/includes/header.php
3420/labs/lab5/includes/nav.php
3420/labs/lab5/styles/master.css
3420/labs/lab5/styles/prettyselect.css
3420/labs/lab5/styles/reset.css
3420/labs/lab6/index.php
3420/labs/lab6/thanks.php
3420/labs/lab6/img/oscars2022.jpeg
3420/labs/lab6/includes/footer.php
3420/labs/lab6/includes/header.php
3420/labs/lab6/includes/library.php
3420/labs/lab6/includes/nav.php
3420/labs/lab6/styles/master.css
3420/labs/lab6/styles/prettyselect.css
3420/labs/lab6/styles/reset.css
3420/labs/lab8/index.html
3420/labs/lab8/scripts/master.js
3420/labs/lab8/styles/master.css
3420/labs/lab9/index.php
3420/labs/lab9/login.php
3420/labs/lab9/results.php
3420/labs/lab9/thanks.php
3420/labs/lab9/img/oscars2022.jpeg
3420/labs/lab9/includes/footer.php
3420/labs/lab9/includes/header.php
3420/labs/lab9/includes/library.php
3420/labs/lab9/includes/nav.php
3420/labs/lab9/scripts/master.js
3420/labs/lab9/styles/master.css
3420/labs/lab9/styles/prettyselect.css
3420/labs/lab9/styles/reset.css
3420/assignments/assn1/A1_GregProuty.pdf
3420/assignments/assn1/A1_GregProuty.zip
3420/assignments/assn1/arrow-right.svg
3420/assignments/assn1/index.html
3420/assignments/assn1/master.css
3420/assignments/assn1/prism.css
3420/assignments/assn1/prism.js
3420/assignments/assn1/reset.css
3420/assignments/assn1/Screenshot_2444.png
3420/assignments/assn1/Screenshot_2445.png
3420/assignments/assn1/Screenshot_2447.png
3420/assignments/assn1/Screenshot_2448.png
3420/assignments/assn1/Screenshot_2449.png
3420/assignments/assn1/Screenshot_2450.png
3420/assignments/assn1/Screenshot_2451.png
3420/assignments/assn1/Screenshot_2452.png
3420/assignments/assn1/Screenshot_2453.png
3420/assignments/assn1/Screenshot_2454.png
3420/assignments/assn2/game.php
3420/assignments/assn2/gameover.php
3420/assignments/assn2/header.php
3420/assignments/assn2/highscores.php
3420/assignments/assn2/index.php
3420/assignments/assn2/string.php
3420/assignments/assn2/test.txt
3420/assignments/assn2/includes/header.php
3420/assignments/assn2/includes/library.php
3420/assignments/assn2/includes/nav.php
3420/assignments/assn2/styles/master.css
3420/assignments/assn2/styles/reset.css
3420/assignments/assn3/game.php
3420/assignments/assn3/index.html
3420/assignments/assn3/img/clockwork.jpg
3420/assignments/assn3/scripts/master.js
3420/assignments/assn3/styles/master.css
3420/assignments/assn3/styles/reset.css
3420/labs/lab10/checkemail.php
3420/labs/lab10/index.php
3420/labs/lab10/login.php
3420/labs/lab10/results.php
3420/labs/lab10/thanks.php
3420/labs/lab10/img/oscars2022.jpeg
3420/labs/lab10/includes/footer.php
3420/labs/lab10/includes/header.php
3420/labs/lab10/includes/library.php
3420/labs/lab10/includes/nav.php
3420/labs/lab10/scripts/master.js
3420/labs/lab10/styles/master.css
3420/labs/lab10/styles/prettyselect.css
3420/labs/lab10/styles/reset.css
.vscode/sftp.json
